*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-box{
    position: relative;
    background-image: url(prime.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.side-bar{
    position: fixed;
    height: 100vh;
    width: 260px;
    left: -260px;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}
.main{
    height: 50px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
     box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}
.main a{
    color: white;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
}
.content{
    position: absolute;
    top: 80px;
    width: 100%;
}
.content li{
margin-top: 6px;
padding: 14px 20px;
}
.content i{
    color: white;
    font-size: 20px;
    padding-right: 18px;
}
.content a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.socials{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.socials i{
    padding: 0 5px;
    transition: all 0.2s linear;
}
.socials a{
    cursor: pointer;
    color: white;
    font-size: 20px;
    opacity: 0.6;
}
.socials a:hover{
    opacity: 1;
}
.content li:hover{
    border: 1px solid white;
     box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    transition: all 0.3s linear;
}
#check{
    display: none;
}
.main-box .btn-one i{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3 linear;
}
.side-bar .btn-two i{
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 220px;
    top: -5px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s linear;
}
.btn-one i:hover{
    font-size: 24px;
}
#check:checked ~ .side-bar{
 left: 0px;
}
#check:checked ~ .btn-one i{
    opacity: 0;
}
#check:checked ~ .side-bar .btn-two i{
    opacity: 1;
}